:root {
    --deep-koamaru: #11267A;
    --bright-sun: #FAE232;

}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--bright-sun);
    background-color: var(--deep-koamaru);

}

header {
    font-size: 36px;
    background-image: linear-gradient(rgba(85, 22, 3, 0.3) 0%,
            rgba(248, 103, 7, 0.6) 100%);
    margin-top: 0%;
}

h2 {
    font-size: 28px;
}

.page-title {
    display: inline-block;
    font-size: 90px;

}

nav ul {
    list-style-type: none;
    font-size: 26px;
    text-align: right;

}

nav ul li {
    display: inline-block;
}

/* 
moves About Me Work and Contact to right of page
.sidebar {
    height: 200px;
    width: 150px;
    /* position: fixed; */
/* top: 0;
    left: 0;
    padding-top: 40px; */

/* .sidebar section {
    padding: 8px;
    font-size: 24px;
    display: block;


} */

aside {
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    /* float: left; */
    box-shadow: inset 5px 0 5px 3px rgba(248, 103, 7, 0.6);
    font-style: italic;
    color: var(--bright-sun)
}

.body-text {
    /* margin-left: 150px; */
    font-size: 20px;
}

/*aligns photos and moves them to the center of the page*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


/*aligns pictures to justify within box*/
.column {
    /* flex: 1 0 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*picture size and adjustments*/
.content {
    max-width: 250px;
    min-width: 250px;
    Max-height: 250px;
    min-height: 250px;
    margin-top: -35px;
    border: 3px solid var(--bright-sun);

}

/*picture size and adjustments*/
.content1 {
    max-height: 400px;
    width: 1018px;
    border: 3px solid var(--bright-sun);
}






/*adjust contact information to desired position on page*/
.contact-info {
    text-align: right;
    font-size: 24px;
    /*position: relative;
    bottom: 325px; */

}

.contact-info li {
    display: inline-block;
    margin-right: 25px;

}

/*adjust image size to adjust layout for tablet screen size*/
@media screen and (max-width: 992px) {
    .content {
        margin-top: auto;
    }

    .content1 {
        max-height: 300px;
        width: 508px;
        margin-bottom: -30px;

        border: 3px solid var(--bright-sun);

    }


    /*adjust contact info font size to match adjusted screen size*/
    .contact-info {
        font-size: 18px;

    }

    .contact-info li {
        margin-right: 0px
    }


    /*adjust contact info font size to match adjusted screen size*/
    @media screen and (max-width: 768px) {
        .contact-info {
            font-size: 16px;
        }
    }

    /* Small smartphones - adjust images size to single line */
    @media screen and (max-width: 576px) {
        .content1 {
            max-width: 250px;
            min-width: 250px;
            Max-height: 250px;
            min-height: 250px;

            border: 3px solid var(--bright-sun);
        }
    }