:root {
    --deep-koamaru: #11267A;
    --bright-sun: #FAE232;

}


::selection {
    color: var(--bright-sun);
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--bright-sun);
    background-color: var(--deep-koamaru);

}

header {
    font-size: 40px;
    background-image: linear-gradient(rgba(85, 22, 3, 0.3) 0%,
            rgba(248, 103, 7, 0.6) 100%);
    margin-top: 0%;
}

h2 {
    font-size: 32px;
}

.page-title {
    display: inline-block;
    font-size: 90px;

}

nav ul {
    list-style-type: none;
    font-size: 26px;
    text-align: right;

}

nav ul li {
    display: inline-block;
}

/* moves About Me Work and Contact to right of page */
.sidebar {
    height: 200px;
    width: 150px;
    /* position: fixed; */
    top: 0;
    left: 0;
    padding-top: 40px;

}

.sidebar section {
    padding: 8px;
    font-size: 24px;
    display: block;


}



.body-text {
    margin-left: 150px;
    font-size: 18px;
}

/*aligns photos and moves them to the center of the page*/
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 500px;

}

.justify-center {
    justify-content: center;
}

.column {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*picture size and adjustments*/
.content {
    height: 250px;
    width: 200px;
    margin-top: -35px;
    border: 3px solid var(--bright-sun);
}

/*picture size and adjustments*/
.content1 {
    flex: 1 3;
    max-height: 300px;
    width: 818px;
    border: 3px solid var(--bright-sun);
}

/*adjust contact information to desired position on page*/
.contact-info {
    text-align: right;
    font-size: 24px;
    position: relative;
    bottom: 325px;

}

.contact-info li {
    display: inline-block;
    margin-right: 25px;

}